
.font-color-0 {
	color: #b30000; /* Dark Red */
	font-weight: bold;
}
.font-color-1 {
	/* color: #ff6666; /* Red */
	color: #cc0000; /* Dark Red */
}
.font-color-2 {
	color: #000099; /* Dark BLue */
}
.font-color-3 {
	color: #0000ff; /* Blue */
}
.font-color-4 {
	color: #008000; /* Dark Green */
}
.font-color-5 {
	color: #33cc33; /* Green */
}
.font-color-6 {
	color: #333333; /* Grey */
}
.font-color-7 {
	color: #595959; /* Grey */
}
.font-color-8 {
	color: #808080; /* Grey */
}
.font-color-9 {
	color: #a6a6a6; /* Grey */
}
.font-color-10, .font-color-11, .font-color-12, .font-color-13, .font-color-14, 
.font-color-15, .font-color-16, .font-color-17, .font-color-18, .font-color-19, 
.font-color-20, .font-color-21, .font-color-22, .font-color-23, .font-color-24,
.font-color-25, .font-color-26, .font-color-27, .font-color-28, .font-color-29 {
	color: #a6a6a6; /* Grey */
}

/* overwrite */
.button {
	background: #68A7B0;
}

/* header and footer */
.header h1 {
	color: #666;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
}
.header a, .header h6 {
	color: #8B8B8B;
}
.header a:hover {
	color: #1779ba;
}
.header .top {
	background: #F6F6F6;
	border-bottom: 1px #ddd solid;
}
.header .logo {
	margin: 1em 0;
}
.header .horizontal-bar {
	width: 155px;
	height: 7px;
	margin: 5px auto;
	background: #68A7B0;
}

.footer {
	background: #F6F6F6;
	border-top: 1px #ddd solid;
	color: #8B8B8B;
	padding: 1em 0;
	/*line-height: 4em;*/
}
.small-font {
	font-size: 0.8em;
}

.main-bg {
	background: url("../images/bg2.jpg") repeat;
	/*background-size: cover;*/
}

.container {
	/*border-top: 3px #999 dashed;*/
	border-top: 1px #999 dashed;
	padding: 1em 0;
}
.container img {
	width: 95%;
	margin: 1em 0;
}
.container span[lang="zh"] p {
	text-indent: 2em;
}
.container .contact-box {
	margin-top: 1.5em;
}
.container .login-box {
	margin-top: 1em;
}
span.desc {
	color: #666;
    font-size: 0.9em;
}
.step1, .step2, .step3, .step4 {
	margin: 1em 0;
}
.step2 textarea {
	min-height: 11em;
}
.step2 .center-or {
	line-height: 11em;
}
@media (max-width: 1024px) { 
    .step2 .center-or {
		line-height: 1em;
		margin-bottom: 1em;
	}
}
.step2 label.button.hollow.secondary {
	border: 1px solid #cacaca;
	line-height: 1.5em;
	background: #fff;
	text-align: left;
	min-height: 12.3em;
}

.return-btn, .restart-btn {
	/*margin-bottom: 3em;*/
	width: 50%;
}
/*.return-btn {
	margin-right: 2em;
}*/
.restart-btn {
	border-left: 3px #fff solid;
}

/* selection and popup box */
::selection{
	background: #a4d4f4;
	color: #000;
}
::-moz-selection{
	background: #a4d4f4;
	color: #000;
}
.selected_text {
	position: relative;
	background: #a4d4f4; 
	color: #000; 
}
.popup_box {
	position: absolute;
	top: 18px;
	left: 0;
	background: #a4d4f4; 
	color: #000; 
	min-width: 300px;
	padding: 5px; 
	border-radius: 3px; 
	box-shadow: 2px 3px 4px #ddd;
	animation: slideIn .5s;
	-webkit-animation: slideIn .5s;
}

/* language switch */
span[lang="zh"] {
	display: none;
}
.switch-lang label, .multi-column label {
	font-size: 1.1em;
}
.switch .switch-paddle {background: #1779ba;} 
.switch.large .switch-paddle {width: 7rem;}
.switch.large input:checked ~ .switch-paddle::after {left: 4.75rem;}

/* file upload */
.file-upload-wrapper .file-upload {
	height: 180px;
	border: 3px #767676 dashed !important;
}
.file-upload-wrapper .dz-message {
	margin: 2.5em 0;
}
.file-upload-wrapper .dz-clickable {
    cursor: pointer;
}
.file-upload-wrapper .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}
.file-upload-wrapper .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
}
.file-upload-wrapper .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
}
.file-upload-wrapper .dz-preview .dz-image img {
    display: block;
}
.file-upload-wrapper .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
}
.file-upload-wrapper .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%;
}
.file-upload-wrapper .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px;
}
.file-upload-wrapper .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-upload-wrapper .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
}
.file-upload-wrapper .dz-success-mark, .dz-error-mark {
	display: none;
}
.file-upload-wrapper .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
}
.file-upload-wrapper .progress { 
	position:relative; 
	width: 100%; 
	height: auto;
	border: 1px solid #ddd; 
	border-radius: 3px; 
}
.file-upload-wrapper .bar { 
	background-color: #49a9e9; 
	width: 0%; 
	height: 1rem; 
	border-radius: 3px; 
}
.file-upload-wrapper .percent { 
	position: absolute; 
	display: inline-block; 
	top: 0px; 
	left: 45%; 
	color: white;
	line-height: 1rem;
}

/* keywords */
.keyword-list {
	margin: 15px 0;
}
.keyword-list span {
	margin-right: 10px;
}
.font-size-0 {font-size: 1.7rem;}
.font-size-1 {font-size: 1.6rem;}
.font-size-2 {font-size: 1.5rem;}
.font-size-3 {font-size: 1.4rem;}
.font-size-4 {font-size: 1.3rem;}
.font-size-5 {font-size: 1.2rem;}
.font-size-6 {font-size: 1.1rem;}
.font-size-7 {font-size: 1rem;}
.font-size-8 {font-size: 0.9rem;}
.font-size-9 {font-size: 0.8rem;}
.font-size-10 {font-size: 0.7rem;}

/* ckeditor */
.cke_button__saveas_icon, .cke_button__wordcount_icon {
	display: none !important;
}
.cke_button__saveas_label, .cke_button__wordcount_label {
	display: inline !important;
}

/* QG */
.qg fieldset {
	margin: 10px 0;
}
.qg fieldset legend {
	font-weight: bold;
}
.qg fieldset p {
	position: relative;
}
.qg fieldset p input {
	position: absolute;
	top: 5px;
	left: 5px;
}
.qg fieldset label {
	text-indent: 1.5em;
}
